.paginas {
    text-align: center;
}

.botao {
    background-color: #172a5e;
    padding: 5px;
    border-radius: 20px;
    width: 90%;
}
.botao:hover{
    transition: 200ms ease-in-out;
    background-color: #0d1c45;
    width: 100%;

}

.botao:visited {
    color: #fff;
}

.titulo>h1 {
    font-size: 3em;
}

.titulo>h2 {
    font-size: 2em;
}

.noticia {
    text-align: center;
}

.noticia>a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.lulao {
    padding: 2em;
    text-align: center;
    display: block;
    margin: auto;
}

.titulo-materia {
    font-size: 1.5em;
}